body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #1f3f75, #244a88);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Container principal */
.container {
  width: 95%;
  max-width: 520px;
  margin: 40px auto;
  padding: 25px;
  padding-top: 60px;
  padding-bottom: 30px;
   margin-left: auto;   
  margin-right: auto;
  background: transparent;
  box-shadow: none;
  padding-top: 40px;
}

/* Título */
.titulo-dispositivo {
  color: #ffffff;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 35px;
}

/* Imagem */
.imagem-dispositivo {
  display: block;
  max-width: 280px;
  width: 100%;
  height: auto;
  margin: 0 auto 35px auto;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}


/* Caixas */
.descricao,
.desenvolvimento  {
  background: #ffffff;
  padding: 22px;
  border-radius: 12px;
  margin-bottom: 25px;
  border-left: 4px solid #1f3f75;
  margin-bottom: 0;
  text-align: center; 
}

/* Títulos internos */
.titulo-descricao {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 15px;
  color: #1f3f75;
  font-weight: bold;
}

/* Texto */
.descricao p,
.desenvolvimento p {
  font-size: 2rem;
  line-height: 1.7;
  color: #333;
}

.pagina-dev {
  position: fixed;       
  bottom: 0;     
  left: 0;
  width: 100%;             
  text-align: center;        /* centraliza o texto */
   background: rgba(36, 74, 136, 0.95);
  color: #ffffff;            /* texto branco */
  font-size: 2rem;         /* menor que o resto do site */
  padding: 15px 0;           /* espaço em cima e embaixo */
  font-family: Arial, Helvetica, sans-serif;
  z-index: 9999;             /* fica acima de tudo */
}


/* Responsivo desktop */
@media (min-width: 601px) {
  .container {
    max-width: 800px;
  }
  .titulo-dispositivo {
    font-size: 3rem;
  }
}